/* Content max width */
body {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

#mw-page-base {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

/* remove blue borders */
.mw-body {
    border: 0;
}

.vector-menu-tabs,
.vector-menu-tabs a,
.vector-menu-tabs li,
#mw-head .vector-menu-dropdown h3 {
    background: none;
    background-image: none;
}

/** search suggestions **/
.suggestions {
    inset: 76px 16px auto auto !important;
}

/** homepage **/
#homepage .infocard {
    width: 16.5em;
}

@media only screen and (max-width: 740px) {
    #homepage .infocard {
        display: block;
        width: auto !important;
    }
}

#homepage .infocard .infocard-body ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
}

/* Infocard */
.infocard {
    display: inline-block;
    border: #e4f0f7 1px solid;
    padding: 1em;
    vertical-align: top;
    margin: 0 0.3em 0.3em 0;
}

.infocard .infocard-header {
    margin: 0 -1em;
    background: #e4f0f7;
}

.infocard .infocard-header .text {
    background: #ffffff;
    margin-left: 1em;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.25em;
}

.infocard .infocard-header .image {
    float: right;
    padding-right: 0.3em;
}

.infocard .infocard-body img {
    margin: 0 0.2em 0.2em 0;
}


.mw-collapsible-content {
    overflow: auto;
}

/*
Rarities
 */
.rarity-common,
.rarity-common a,
.rarity-common a.new {
    /*color: #78d9ff;*/ /*original color*/
    color: #63b2d0; /*color for readability*/
}
.rarity-uncommon,
.rarity-uncommon a,
.rarity-uncommon a.new {
    color: #804000;
}

.rarity-rare,
.rarity-rare a,
.rarity-rare a.new {
    color: #00aa00;
}
.rarity-unique,
.rarity-unique a,
.rarity-unique a.new,
.rarity-very.rare,
.rarity-very.rare a,
.rarity-very.rare a.new {
    color: #d20000;
}

/*
Set Bonus
 */
ul.set-bonus-list,
ul.set-bonus-list ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

ul.set-bonus-list>li {
    font-weight: bold;
}

ul.set-bonus-list ul {
    margin-left: 2.6em;
}
ul.set-bonus-list ul>li {
    font-weight: normal;
}

.set-bonus-list+br {
    display: none;
}

.equipment-set-part-box {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
}

.equipment-set-part-box .image,
.equipment-set-part-box .name {
    text-align: center;
}

    /* Infobox */
/* Infobox template style (initially from wikipedia) */
.infobox {
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    /* @noflip */
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    /* @noflip */
    float: right;
    /* @noflip */
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
    width: 22em;
}

.infobox-subbox {
    padding: 0;
    border: none;
    margin: -3px;
    width: auto;
    min-width: 100%;
    font-size: 100%;
    clear: none;
    float: none;
    background-color: transparent;
}

.infobox-header,
.infobox-label,
.infobox-above,
.infobox-spacer,
.infobox-spacer-small,
.infobox-full-data,
.infobox-data,
.infobox-below,
.infobox-subheader,
.infobox-image,
.infobox-navbar,
.infobox th,
.infobox td {
    vertical-align: top;
}

.infobox-spacer+.hide-if-after-spacer,
.infobox-spacer+.hide-if-after-spacer{
    display: none;
}

.infobox-label,
.infobox-data,
.infobox th,
.infobox td {
    /* @noflip */
    text-align: left;
}

.infobox .infobox-above,
.infobox .infobox-title,
.infobox caption {
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    background: rgb(234, 236, 240);
}

.infobox .infobox-spacer td,
.infobox .infobox-spacer-small td{
    font-weight: bold;
    text-align: center;
    background: rgb(234, 236, 240);
}

.infobox .infobox-spacer-small br {
    display: none;
}

.infobox-title,
.infobox caption {
    padding: 0.2em;
}

.infobox .infobox-header,
.infobox .infobox-subheader,
.infobox .infobox-image,
.infobox .infobox-full-data,
.infobox .infobox-below {
    text-align: center;
}

.infobox .infobox-navbar {
    /* @noflip */
    text-align: right;
}

.infobox-row:nth-child(2n) {
    /*background: rgb(234, 236, 240);*/
}

.infobox-row td.infobox-label {
    font-weight: bold;
    max-width: 70px;
}

.infobox-data ul,
.infobox-data ol {
    margin-left: 1em;
}