<includeonly><!--
-->$content<!--
--></includeonly><noinclude>
	{{#template_params:
	$templateParams
	}}
	{{#cargo_declare:
	_table=$tableName
	$declare
	}}<!--
--></noinclude><includeonly><!--
-->{{#cargo_store:
	_table=$tableName
	$store
	}}</includeonly><!--
-->