__TOC__
{{Achievement Table
	|fields=achievements.id,achievements.name,achievements._pageName,
		achievements.description,achievements.type
	|category=General
	|collapsible=1
	|header=General
	|order by=achievements.type,name
	|tableHeaders=<th>Name</th><th>Type</th><th>Description</th>
}}
{{Achievement Table
	|fields=achievements.id,achievements.name,achievements._pageName,
		achievements.description,achievements.monsters
	|category=Monsters
	|collapsible=1
	|header=Monster
	|tableHeaders=<th>Name</th><th>Monster</th><th>Description</th>
}}
{{Achievement Table
	|fields=achievements.id,achievements.name,achievements._pageName,
		achievements.description,achievements.items
	|category=Consumables
	|collapsible=1
	|header=Consumables
	|tableHeaders=<th>Name</th><th>Item</th><th>Description</th>
}}