{{Weapon Table
	|subcategory=Axe
	|additionalFields=twoHanded
	|rareOnly=1
	|collapsible=1
	|header=Rare axes
	|headerType=2
	|tableHeaders=
		<th colspan="2">Name</th>
		<th>Level</th>
		<th>Rarity</th>
		<th>Attack</th>
		<th>Two handed</th>
		<th>Class</th>
		<th>Bonus</th>
}}
{{Weapon Table
	|subcategory=Axe
	|additionalFields=twoHanded
	|commonOnly=1
	|collapsible=1
	|header=Common axes
	|headerType=2
	|tableHeaders=
		<th colspan="2">Name</th>
		<th>Level</th>
		<th>Rarity</th>
		<th>Attack</th>
		<th>Two handed</th>
		<th>Class</th>
		<th>Bonus</th>
}}