__TOC__<!--
-->{{Item Table
	|tables=items
	|fields=items._pageName=name,items.icon,
	items.hasAbilities,
	IF(items.sex IS NOT NULL,items.sex,"")=sex,
	|tableHeaders=<th colspan="2">Name</th><th>Gender</th><th>Effects</th>
	|where=items.category="Fashion" and items.subcategory="Cloak"
	|limit=2000
	|header=Cloaks
	|collapsible=1
}}<!--
-->{{Item Table
	|tables=items
	|fields=items._pageName=name,items.icon,
	items.hasAbilities,
	IF(items.sex IS NOT NULL,items.sex,"")=sex,
	|tableHeaders=<th colspan="2">Name</th><th>Gender</th><th>Effects</th>
	|where=items.category="Fashion" and items.subcategory="Cloth"
	|limit=2000
	|header=Cloths
	|collapsible=1
}}<!--
-->{{Item Table
	|tables=items
	|fields=items._pageName=name,items.icon,
	items.hasAbilities,
	IF(items.sex IS NOT NULL,items.sex,"")=sex,
	|tableHeaders=<th colspan="2">Name</th><th>Gender</th><th>Effects</th>
	|where=items.category="Fashion" and items.subcategory="Glove"
	|limit=2000
	|header=Gloves
	|collapsible=1
}}<!--
-->{{Item Table
	|tables=items
	|fields=items._pageName=name,items.icon,
	items.hasAbilities,
	IF(items.sex IS NOT NULL,items.sex,"")=sex,
	|tableHeaders=<th colspan="2">Name</th><th>Gender</th><th>Effects</th>
	|where=items.category="Fashion" and items.subcategory="Hat"
	|limit=2000
	|header=Hats
	|collapsible=1
}}<!--
-->{{Item Table
	|tables=items
	|fields=items._pageName=name,items.icon,
	items.hasAbilities,
	IF(items.sex IS NOT NULL,items.sex,"")=sex,
	|tableHeaders=<th colspan="2">Name</th><th>Gender</th><th>Effects</th>
	|where=items.category="Fashion" and items.subcategory="Mask"
	|limit=2000
	|header=Masks
	|collapsible=1
}}<!--
-->{{Item Table
	|tables=items
	|fields=items._pageName=name,items.icon,
	items.hasAbilities,
	IF(items.sex IS NOT NULL,items.sex,"")=sex,
	|tableHeaders=<th colspan="2">Name</th><th>Gender</th><th>Effects</th>
	|where=items.category="Fashion" and items.subcategory="Shoes"
	|limit=2000
	|header=Shoes
	|collapsible=1
}}