__TOC__

== Boards ==

{{Item Table
	|subcategory=Board
	|fields=items._pageName=name,items.icon,items.premium,items.flightSpeed
	|tableHeaders=<th colspan="2">Name</th><th>Premium</th><th>Speed</th>
}}

== Brooms ==

{{Item Table
	|subcategory=Broom
	|fields=items._pageName=name,items.icon,items.premium,items.flightSpeed
	|tableHeaders=<th colspan="2">Name</th><th>Premium</th><th>Speed</th>
}}


== Cars ==

{{Item Table
	|subcategory=Car
	|fields=items._pageName=name,items.icon,items.premium,items.flightSpeed
	|tableHeaders=<th colspan="2">Name</th><th>Premium</th><th>Speed</th>
}}

== Wings ==

{{Item Table
	|subcategory=Wings
	|fields=items._pageName=name,items.icon,items.premium,items.flightSpeed
	|tableHeaders=<th colspan="2">Name</th><th>Premium</th><th>Speed</th>
}}

