__TOC__

== Element cards ==

{{Item Table
|fields=items._pageName=name,items.icon,items.description
|tableHeaders=<th colspan="2">Name</th><th>Description</th>
|order by=items.description
|subcategory=Element card}}

== Piercing cards ==

{{Item Table|subcategory=Piercing card}}

== Piercing dices ==

{{Item Table
|fields=items._pageName=name,items.icon
|tableHeaders=<th colspan="2">Name</th>
|subcategory=Piercing dice}}

== Upgrade dices ==

{{Item Table
|fields=items._pageName=name,items.icon
|tableHeaders=<th colspan="2">Name</th>
|subcategory=Upgrade dice}}

== Protect scrolls ==

{{Item Table
|fields=items._pageName=name,items.icon
|tableHeaders=<th colspan="2">Name</th>
|subcategory=Protect scroll}}

== Random scrolls ==

{{Item Table
|fields=items._pageName=name,items.icon
|tableHeaders=<th colspan="2">Name</th>
|subcategory=Random scroll}}