{{Cargo Table
	|tables=party_skills=ps
	|fields=ps.id,ps._pageName=name,ps.name=realName,ps.description,ps.icon,ps.level,ps.consumedPoints,ps.duration
	|order by=ps.level
	|tableHeaders=<th colspan="2">Name</th><th>Party level</th>
		<th>Consumed points</th><th>Duration (s)</th><th>Description</th>
	|template=Party Skill Table Row
}}