{{Item Table
	|fields=items._pageName=name,items.icon,items.hasAbilities,items.duration
	|items="Vital Drink X","Bull Hamstern","Grilled Eel", "Refresher Hold"
	|tableHeaders=<th colspan="2">Name</th><th>Effects</th><th>Duration (m)</th>
}}