__TOC__

Quests are tasks you can aquire from [[NPCs]].<br />
After finishing your quest, you are mostly rewarded with [[Gold]] and [[Experience]].<br /><br />
For all jobchange quests, see [[Job change quests]]<br />
{{Collapsible Start|header=Booty quests}}
	{{Quest Table
		|parent=Flaris (Quest:3960)
		|collapsible=1
		|header=Flaris
		|headerType=3
	}}

	{{Quest Table
		|parent=Saint Morning (Quest:7047)
		|collapsible=1
		|header=Saint Morning
		|headerType=3
	}}

	{{Quest Table
		|parent=Darkon (Quest:5401)
		|collapsible=1
		|header=Darkon
		|headerType=3
	}}
{{Collapsible End}}
{{Collapsible Start|header=Chain quests}}
	{{Collapsible Start|header=Flaris|headerType=3}}
		{{#cargo_query:
			|tables=quest_chains__quests=qsq,quest_chains=qs
			|fields=qs.parent,qsq._value=questChain,
			|join on=qsq._rowId = qs._ID
			|order by=qs.minLevel,qsq._position
			|group by=qs._ID
			|where=qs.parent="Flaris (Quest:1266)"
			|template=Quest Chain Tables
			|format=template
			|named args=yes
		}}
	{{Collapsible End}}
	{{Collapsible Start|header=Saint Morning|headerType=3}}
		{{#cargo_query:
			|tables=quest_chains__quests=qsq,quest_chains=qs
			|fields=qs.parent,qsq._value=questChain,
			|join on=qsq._rowId = qs._ID
			|order by=qs.minLevel,qsq._position
			|group by=qs._ID
			|where=qs.parent="Saint Morning (Quest:992)"
			|template=Quest Chain Tables
			|format=template
			|named args=yes
		}}
	{{Collapsible End}}
	{{Collapsible Start|header=Darkon|headerType=3}}
		{{#cargo_query:
			|tables=quest_chains__quests=qsq,quest_chains=qs
			|fields=qs.parent,qsq._value=questChain,
			|join on=qsq._rowId = qs._ID
			|order by=qs.minLevel,qsq._position
			|group by=qs._ID
			|where=qs.parent="Darkon (Quest:821)"
			|template=Quest Chain Tables
			|format=template
			|named args=yes
		}}
	{{Collapsible End}}
	{{Collapsible Start|header=Prologue|headerType=3}}
		{{#cargo_query:
			|tables=quest_chains__quests=qsq,quest_chains=qs
			|fields=qs.parent,qsq._value=questChain,
			|join on=qsq._rowId = qs._ID
			|order by=qs.minLevel,qsq._position
			|group by=qs._ID
			|where=qs.parent="Prologue"
			|template=Quest Chain Tables
			|format=template
			|named args=yes
		}}
	{{Collapsible End}}
{{Collapsible End}}
{{Collapsible Start|header=Dungeon quests}}
	{{Quest Table
		|parent=Mars Dungeon (Quest)
		|collapsible=1
		|header=Mars Dungeon
		|headerType=3
	}}
	{{Quest Table
		|parent=Iblis Temple (Quest)
		|collapsible=1
		|header=Iblis Temple
		|headerType=3
	}}
	{{Quest Table
		|parent=Dekane Mine (Quest)
		|collapsible=1
		|header=Dekane Mine
		|headerType=3
	}}
{{Collapsible End}}
{{Collapsible Start|header=Special quests}}
	{{Quest Table
		|quest=Create Guild
		|collapsible=1
		|header=Create guild
		|headerType=3
	}}
	{{Quest Chain Table
		|questChain=Existence which Desire Summoned
		|collapsible=1
		|header=Clockworks
		|headerType=3
		|showLevels=1
	}}
{{Collapsible End}}
{{Collapsible Start|header=Other quests}}
	{{Quest Table
		|parent=Flaris (Quest:1266)
		|notTypes="Chain"
		|collapsible=1
		|header=Flaris
		|headerType=3
	}}
	{{Quest Table
		|parent=Saint Morning (Quest:992)
		|notTypes="Chain"
		|collapsible=1
		|header=Saint Morning
		|headerType=3
	}}
	{{Quest Table
		|parent=Darkon (Quest:821)
		|notTypes="Chain"
		|collapsible=1
		|header=Darkon
		|headerType=3
	}}
{{Collapsible End}}
{{Quest Table
	|parent=P.K
	|collapsible=1
	|header=P.K quests
}}