__TOC__
== Drinks ==

{{Item Table
	|fields=items._pageName=name,items.icon,items.hasAbilities,if(items.cooldown is null, '', items.cooldown)=cooldown
	|subcategory=Drink
	|notItems="Vital Drink X"
	|tableHeaders=<th colspan="2">Name</th><th>Effects</th><th>Cooldown (s)</th>
}}

== Foods ==

{{Item Table
	|fields=items._pageName=name,items.icon,items.hasAbilities,if(items.cooldown is null, '', items.cooldown)=cooldown
	|subcategory=Food
	|notItems="Bull Hamstern","Grilled Eel"
	|tableHeaders=<th colspan="2">Name</th><th>Effects</th><th>Cooldown (s)</th>
}}

== Pills ==

{{Item Table
	|fields=items._pageName=name,items.icon,items.hasAbilities,if(items.cooldown is null, '', items.cooldown)=cooldown
	|subcategory=Pill
	|tableHeaders=<th colspan="2">Name</th><th>Effects</th><th>Cooldown (s)</th>
}}

== Refreshers ==

{{Item Table
	|fields=items._pageName=name,items.icon,items.hasAbilities,if(items.cooldown is null, '', items.cooldown)=cooldown
	|subcategory=Refresher
	|notItems="Refresher Hold"
	|tableHeaders=<th colspan="2">Name</th><th>Effects</th><th>Cooldown (s)</th>
}}