== Non-Premium scrolls ==
{{Item Table
	|fields=items._pageName=name,items.icon,items.hasAbilities,items.description
	|tableHeaders=<th colspan="2">Name</th><th>Effect</th><th>Description</th>
	|premium=0
	|category=Scroll
}}

== Premium scrolls ==
{{Item Table
	|fields=items._pageName=name,items.icon,items.hasAbilities,items.description
	|tableHeaders=<th colspan="2">Name</th><th>Effect</th><th>Description</th>
	|premium=1
	|category=Scroll
}}