{{Cargo Table
	|tables=items
	|fields=items._pageName=name,items.icon,
	items.minDefense,items.maxDefense,items.level,items.rarity,concat(1)=showRarityColumn,items.hasAbilities
	|where=items.subcategory="Shield"
	|order by=items.level
	|tableHeaders=<th colspan="2">Name<th>Level</th><th>Rarity</th><th>Defense</th><th>Bonus</th>
	|template=Item Table Row
}}