{{Monster Table
	|fields=monsters._pageName=name,monsters.icon,monsters.hp,monsters.level,monsters.element,
	monsters.rank,monsters.experience,
	|where=monsters.rank="Small" or monsters.rank="Normal" or monsters.rank="Captain"
	|order by=monsters.level,FIELD(monsters.rank,"Small","Normal","Captain"),monsters._pageName
	|tableHeaders=<th colspan="3">Name</th><th>Rank</th><th>Level</th><th>HP</th><th>Experience %</th>
}}