{{Weapon Table
	|subcategory=Sword
	|additionalFields=twoHanded
	|rareOnly=1
	|collapsible=1
	|header=Rare swords
	|headerType=2
	|tableHeaders=
		<th colspan="2">Name</th>
		<th>Level</th>
		<th>Rarity</th>
		<th>Attack</th>
		<th>Two handed</th>
		<th>Class</th>
		<th>Bonus</th>
}}

{{Weapon Table
	|subcategory=Sword
	|additionalFields=twoHanded
	|commonOnly=1
	|collapsible=1
	|header=Common swords
	|headerType=2
	|tableHeaders=
		<th colspan="2">Name</th>
		<th>Level</th>
		<th>Rarity</th>
		<th>Attack</th>
		<th>Two handed</th>
		<th>Class</th>
		<th>Bonus</th>
}}
