<includeonly><!--
-->{{#if: {{{add|}}} | {{{add|}}}{{#ifexpr: {{{rate|}}} = 1 | % }} }}<!--
-->{{#ifeq: {{{set|}}} | 0 | (unlimited) }}<!--
-->{{#if: {{{dotValue|}}} | {{{dotValue}}} ({{{dotMode}}}) }}<!--
--></includeonly><!--
--><noinclude>
</noinclude>