<includeonly><!--
-->{{Armor Table
	|tables=items,abilities,items=transy
	|fields=items._pageName=name,items.transy,IF(transy.icon IS NOT NULL,transy.icon,"")=transyIcon,
		items.icon,items.hasAbilities,items.level,
		if(items.subcategory is null, '', items.subcategory)=subcategory,
		items.class,items.rarity,concat(1)=showRarityColumn
	|join on=abilities._pageTitle=items._pageName,items.transy=transy._pageName
	|abilityParameter={{#if: {{{abilityParameter|}}} | {{{abilityParameter}}} | {{PAGENAME}} }}
	|order by=items.level
	|tableHeaders=<th colspan="2">Male</th><th colspan="2">Female</th><th>Level</th><th>Rarity</th><th>Subcategory</th><th>Class</th><th>Effects</th>
	|category=Armor
	|collapsible=1
	|header=Armors
}}<!--
-->{{Item Table
	|tables=items,abilities
	|fields=items._pageName=name,items.icon,items.hasAbilities,
		if(items.subcategory is null, '', items.subcategory)=subcategory,items.rarity,
		concat(1)=showRarityColumn,items.premium
	|join on=abilities._pageTitle=items._pageName
	|abilityParameter={{#if: {{{abilityParameter|}}} | {{{abilityParameter}}} | {{PAGENAME}} }}
	|order by=items.level
	|tableHeaders=<th colspan="2">Name</th><th>Rarity</th><th>Subcategory</th><th>Premium</th><th>Effects</th>
	|category=Buff
	|collapsible=1
	|header=Buffs
}}<!--
-->{{Equipment Sets Table
	|fields=es._pageName=name, es.level,es.transy,es.class
	|tables=equipment_sets=es,abilities
	|join on=abilities._pageTitle=es._pageName
	|abilityParameter={{#if: {{{abilityParameter|}}} | {{{abilityParameter}}} | {{PAGENAME}} }}
	|collapsible=1
	|tableHeaders=<th>Male</th><th>Female</th><th>Level</th><th>Class</th><th>Bonus</th>
	|header=Equipment sets
	|limit=200
}}<!--
-->{{Item Table
	|tables=items,abilities,
	|fields=items._pageName=name,items.icon,items.hasAbilities,
		if(items.subcategory is null, '', items.subcategory)=subcategory,items.rarity,
		concat(1)=showRarityColumn,items.premium
	|join on=abilities._pageTitle=items._pageName
	|abilityParameter={{#if: {{{abilityParameter|}}} | {{{abilityParameter}}} | {{PAGENAME}} }}
	|order by=items.level
	|tableHeaders=<th colspan="2">Name</th><th>Rarity</th><th>Subcategory</th><th>Premium</th><th>Effects</th>
	|category=Fashion
	|collapsible=1
	|header=Fashions
}}<!--
-->{{Item Table
	|tables=items,abilities
	|fields=items._pageName=name,items.icon,items.hasAbilities,items.level,
		if(items.subcategory is null, '', items.subcategory)=subcategory,items.rarity,
		concat(1)=showRarityColumn
	|join on=abilities._pageTitle=items._pageName
	|abilityParameter={{#if: {{{abilityParameter|}}} | {{{abilityParameter}}} | {{PAGENAME}} }}
	|order by=items.level
	|tableHeaders=<th colspan="2">Name</th><th>Level</th><th>Rarity</th><th>Subcategory</th><th>Effects</th>
	|category=Jewelry
	|collapsible=1
	|header=Jewelries
}}<!--
-->{{Item Table
	|tables=items,abilities
	|fields=items._pageName=name,items.icon,items.hasAbilities,if(items.subcategory is null, '', items.subcategory)=subcategory,
		concat(1)=showRarityColumn
	|join on=abilities._pageTitle=items._pageName
	|abilityParameter={{#if: {{{abilityParameter|}}} | {{{abilityParameter}}} | {{PAGENAME}} }}
	|order by=items._pageName
	|tableHeaders=<th colspan="2">Name</th><th>Subcategory</th><th>Effects</th>
	|category=Material
	|collapsible=1
	|header=Materials
}}<!--
-->{{Item Table
	|tables=items,abilities
	|fields=items._pageName=name,items.icon,items.hasAbilities,
		if(items.subcategory is null, '', items.subcategory)=subcategory,items.rarity,
		concat(1)=showRarityColumn,items.premium
	|join on=abilities._pageTitle=items._pageName
	|abilityParameter={{#if: {{{abilityParameter|}}} | {{{abilityParameter}}} | {{PAGENAME}} }}
	|order by=items.level
	|tableHeaders=<th colspan="2">Name</th><th>Rarity</th><th>Subcategory</th><th>Premium</th><th>Effects</th>
	|category=Recovery
	|collapsible=1
	|header=Recoveries
}}<!--
-->{{Item Table
	|tables=items,abilities
	|fields=items._pageName=name,items.icon,items.hasAbilities,items.level,
		if(items.subcategory is null, '', items.subcategory)=subcategory,items.rarity,
		concat(1)=showRarityColumn,items.premium
	|join on=abilities._pageTitle=items._pageName
	|abilityParameter={{#if: {{{abilityParameter|}}} | {{{abilityParameter}}} | {{PAGENAME}} }}
	|order by=items.level
	|tableHeaders=<th colspan="2">Name</th><th>Level</th><th>Rarity</th><th>Subcategory</th><th>Premium</th><th>Effects</th>
	|category=Scroll
	|collapsible=1
	|header=Scrolls
}}<!--
-->{{Item Table
	|tables=items,abilities
	|fields=items._pageName=name,items.icon,items.hasAbilities,items.level,
		if(items.subcategory is null, '', items.subcategory)=subcategory,items.class,items.rarity,
		concat(1)=showRarityColumn
	|join on=abilities._pageTitle=items._pageName
	|abilityParameter={{#if: {{{abilityParameter|}}} | {{{abilityParameter}}} | {{PAGENAME}} }}
	|order by=items.level
	|tableHeaders=<th colspan="2">Name</th><th>Level</th><th>Rarity</th><th>Subcategory</th><th>Class</th><th>Effects</th>
	|category=Weapon
	|collapsible=1
	|header=Weapons
}}<!--
--></includeonly>