<includeonly><!--
--><span style="white-space: nowrap;"><!--
	-->{{
		Ability Name Output
		|parameter={{{parameter|}}}
		|attribute={{{attribute|}}}
	}} <!--
	-->{{
		Ability Value Output
		|add={{{add|}}}
		|set={{{set|}}}
		|rate={{{rate|}}}
		|dotValue={{{dotValue|}}}
		|dotMode={{{dotMode|}}}
	}}<!--
--></span><br/><!--
--></includeonly><!--
--><noinclude>
</noinclude>