<includeonly><!--
-->{{Infobox Row | {{
		Ability Name Output
		|parameter={{{parameter|}}}
		|attribute={{{attribute|}}}
	}}|<!--
	-->{{
		Ability Value Output
		|add={{{add|}}}
		|rate={{{rate|}}}
		|dotValue={{{dotValue|}}}
		|dotMode={{{dotMode|}}}
	}}<!--
-->}}<!--
--></includeonly><!--
--><noinclude>
</noinclude>