<includeonly><!--
--><tr><!--
--><td>[[ {{{_pageName}}} | {{{name}}} ]]</td><!--
-->{{#if: {{{category|}}} | <td>{{{category}}}</td> }}<!--
-->{{#if: {{{type|}}} | <td>{{{type}}}</td> }}<!--
-->{{#if: {{{monsters|}}} | <td>{{{monsters}}}</td> }}<!--
-->{{#if: {{{items|}}} | <td>{{{items}}}</td> }}<!--
-->{{#if: {{{classes|}}} | <td>{{{classes}}}</td> }}<!--
-->{{#if: {{{skills|}}} | <td>{{{skills}}}</td> }}<!--
--><td>{{{description|}}}</td><!--
--></tr><!--
--></includeonly>