<includeonly><!--
-->{{#cargo_store:
	_table=achievement_level_items
	|achievement={{PAGENAME}}
	|level={{{level}}}
	|item={{{item}}}
	|count={{{count}}}
	|soulLinked={{{soulLinked}}}
	}}<!--
-->{{{level}}} - [[{{{item}}}]] - {{{count}}}<br /><!--
--></includeonly><!--
--><noinclude>
	{{#template_params:
	achievement
	|level
	|item
	|count
	|soulLinked
	}}
	{{#cargo_declare:
	_table=achievement_level_items
	|achievement=Page
	|level=Integer
	|item=Page
	|count=Integer
	|soulLinked=Boolean
	}}
</noinclude>