<includeonly><!--
-->{{#if: {{{title|}}} | [[Titles|Title]]: {{{title}}}<br /> }}<!--
-->{{#if: {{{attackPower|}}} | Attack Power: {{{attackPower}}}<br /> }}<!--
-->{{#if: {{{inventorySpaces|}}} | [[Inventory]] spaces: {{{inventorySpaces}}}<br /> }}<!--
-->{{#if: {{{gold|}}} | [[Gold]]:  {{Number Format|{{{gold}}} }} }}<br /><!--
-->{{#if: {{{hasItems|}}} | Items:
{{Cargo Table
  |tables={{#if: {{{tables|}}} | {{{tables}}} |
    achievement_level_items=ali,
  }}
  |fields={{#if: {{{fields|}}} | {{{fields}}} |
    "Items: x",ali.count, " ", "[[",ali.item,"]]")=items
  }}
  |join on={{#if: {{{join on|}}} | {{{join on}}} |
    ali.level = {{{level}}}
  }}
  |where={{#if: {{{where|}}} | {{{where}}} |
    a._pageName="{{PAGENAME}}"
  }}
  |group by=al.level
  |order by={{#if: {{{order by|}}} | {{{order by}}} | al.level }}
  |limit={{#if: {{{limit|}}} | {{{limit}}} | 200 }}
  |tableHeaders=<th>Level</th><th>Todo</th><th>Reward</th>
  |default={{{default|}}}
  |template=Achievement Reward Output
}}
}}</includeonly>