<includeonly><!--
-->{{#cargo_store:
	_table=achievement_levels
	|achievement={{PAGENAME}}
	|level={{{level}}}
	|value={{{value|}}}
	|name={{{name|}}}
	|title={{{title|}}}
	|attackPower={{{attackPower|}}}
	|inventorySpaces={{{inventorySpaces|}}}
	|gold={{{gold|}}}
	|hasItems={{{hasItems|}}}
	}}<!--
-->{{{value}}} - {{{name}}} - {{{title}}}<br /><!--
--></includeonly><!--
--><noinclude>
	{{#template_params:
	achievement
	|level
	|value
	|name
	|title
	|attackPower
	|inventorySpaces
	|gold
	|hasItems
	}}
	{{#cargo_declare:
	_table=achievement_levels
	|achievement=Page
	|level=Integer
	|value=Integer
	|name=String
	|title=String
	|attackPower=Float
	|inventorySpaces=Integer
	|gold=Integer
	|hasItems=Boolean
	}}
</noinclude>