<includeonly><!--
-->{{Cargo Table
		|tables={{#if: {{{tables|}}} | {{{tables}}} | achievements }}
		|fields={{#if: {{{fields|}}} | {{{fields}}} |
			achievements.id,achievements.name,achievements._pageName,
			achievements.description,achievements.type,achievements.monsters,
			achievements.items,achievements.skills,achievements.classes
		}}
		|join on={{{join on|}}}
		|where={{#if: {{{where|}}} | {{{where}}} |
			achievements.id>0
			{{#if: {{{category|}}} | AND achievements.category="{{{category}}}"}}
			{{#if: {{{categories|}}} | AND achievements.category IN ({{{categories}}}) }}
			{{#if: {{{type|}}} | AND achievements.type="{{{type}}}"}}
			{{#if: {{{types|}}} | AND achievements.type IN ({{{types}}}) }}
		}}
		|order by={{#if: {{{order by|}}} | {{{order by}}} | achievements._pageName }}
		|limit={{#if: {{{limit|}}} | {{{limit}}} | 200 }}
		|header={{{header|}}}
		|collapsible={{{collapsible|}}}
		|tableHeaders={{#if: {{{tableHeaders|}}} | {{{tableHeaders}}} |
			<th>Name</th><th>Type</th><th>Value</th><th>Description</th>
		}}
		|default={{{default|}}}
		|template=Achievement Table Row
	}}<!--
--></includeonly>