<includeonly><!--
--><tr><!--
--> <td>{{{level}}}</td><!--
--><td><!--
-->{{#ifeq: {{{type}}} | Connection | {{{name|}}} <br /> }}<!--
-->{{#ifeq: {{{type}}} | Jump | Jump {{Number Format|{{{value}}} }} times<br /> }}<!--
-->{{#ifeq: {{{type}}} | Kill monster | Kill [[{{{mainMonster}}}]] {{{value}}} times<br /> }}<!--
-->{{#ifeq: {{{type}}} | Level | Reach level {{{value}}} <br /> }}<!--
-->{{#ifeq: {{{type}}} | Playtime | Play {{#expr:{{{value}}}/60}} hours on your character <br /> }}<!--
-->{{#ifeq: {{{type}}} | Stat | Get {{{value}}} {{{achievementName}}} <br /> }}<!--
-->{{#ifeq: {{{type}}} | Use item | Use {{Number Format|{{{value}}} }} times <br /> }}<!--
--></td><!--
--><td><!--
-->{{#if: {{{title|}}} | [[Titles|Title]]: {{{title}}}<br /> }}<!--
-->{{#if: {{{attackPower|}}} | Attack: +{{{attackPower}}}%<br /> }}<!--
-->{{#if: {{{inventorySpaces|}}} | [[Inventory]] spaces: {{{inventorySpaces}}}<br /> }}<!--
-->{{#if: {{{gold|}}} | [[Gold]]:  {{Number Format|{{{gold}}} }} <br />}}<!--
-->{{#if: {{{hasItems|}}} |
	{{#cargo_query:
		|tables=achievement_level_items=ali
		|fields=CONCAT("x",ali.count, " ", "[[",ali.item,"]]")=items
		|where=ali.achievement="{{PAGENAME}}" AND ali.level = {{{level}}}
		|intro=Items:
		|default=
	}}
}}<!--
--></td><!--
--></tr><!--
--></includeonly>