<includeonly><!--
-->{{Cargo Table
		|tables={{#if: {{{tables|}}} | {{{tables}}} |
			achievement_levels=al,
			achievements=a,
		}}
		|fields={{#if: {{{fields|}}} | {{{fields}}} |
			a.name=achievementName,
			a.mainMonster,a.mainSkill,a.mainItem,a.mainClass,
			a.monsters,a.skills,a.items,a.classes,
			a.type,a.category,
			al.level,al.value,al.name,al.title,al.attackPower,
			al.inventorySpaces,al.gold,al.hasItems,
		}}
		|join on={{#if: {{{join on|}}} | {{{join on}}} |
			al.achievement=a._pageName
		}}
		|where={{#if: {{{where|}}} | {{{where}}} |
			a._pageName="{{PAGENAME}}"
		}}
		|order by={{#if: {{{order by|}}} | {{{order by}}} | al.level }}
		|limit={{#if: {{{limit|}}} | {{{limit}}} | 200 }}
		|tableHeaders=<th>Level</th><th>Todo</th><th>Reward</th>
		|default={{{default|}}}
		|template=Achievement Levels Table Row
	}}<!--
--></includeonly>