<includeonly><!--
-->{{Cargo Table
		|tables={{#if: {{{tables|}}} | {{{tables}}} | items,items=transy }}
		|fields={{#if: {{{fields|}}} | {{{fields}}} |items._pageName=name,items.icon,items.hasAbilities,items.level,
			items.rarity,items.transy,items.minDefense,items.maxDefense ,
			concat(1)=showRarityColumn,
			IF(transy.icon IS NOT NULL,transy.icon,"")=transyIcon, }}
		|join on={{#if: {{{join on|}}} | {{{join on}}} | items.transy=transy._pageName }}
		|where=items.sex = "Male" AND items.category = "Armor"
			{{#if: {{{class|}}} | AND items.class = "{{{class}}}" }}
			{{#if: {{{classes|}}} | AND items.class IN ({{{classes}}}) }}
			{{#if: {{{minLevel|}}} | AND items.level >= {{{minLevel}}} }}
			{{#if: {{{maxLevel|}}} | AND items.level <= {{{maxLevel}}} }}
			{{#if: {{{rareOnly|}}} | AND items.rarity IN  ("Unique", "Very rare", "Rare") }}
			{{#if: {{{commonOnly|}}} | AND items.rarity IN  ("Uncommon", "Common") }}
			{{#if: {{{abilityParameter|}}} | AND abilities.parameter="{{{abilityParameter}}}" }}
			{{#if: {{{element|}}} | AND items.element="{{{element}}}" }}
		|order by={{#if: {{{order by|}}} | {{{order by}}} | items.level, items._pageName }}
		|limit=500
		|collapsible={{{collapsible|}}}
		|header={{{header|}}}
		|tableHeaders={{#if: {{{tableHeaders|}}} | {{{tableHeaders}}} |
			<th colspan="2">Male</th><th colspan="2">Female</th><th>Level</th>
			<th>Rarity</th><th>Defense</th><th>Effects</th>
		}}
		|template=Item Table Row
}}<!--
--></includeonly>