<includeonly><!--
-->{{#cargo_store:
	_table=attacks
	|monster={{PAGENAME}}
	|minAttack={{{minAttack}}}
	|maxAttack={{{maxAttack}}}
	|attackRange={{{attackRange}}}
	|target={{{target}}}
	|triggerSkill={{{triggerSkill|}}}
	|triggerSkillLevel={{{triggerSkillLevel|}}}
	|triggerSkillProbability={{{triggerSkillProbability|}}}
	}}<!--
-->[[{{PAGENAME}}]] - {{{minAttack}}} - {{{maxAttack}}} - {{{attackRange}}} - {{{target}}}<br /><!--
--></includeonly><!--
--><noinclude>
	{{#template_params:
	monster
	|minAttack
	|maxAttack
	|attackRange
	|target
	|triggerSkill
	|triggerSkillLevel
	|triggerSkillProbability
	}}
	{{#cargo_declare:
	_table=attacks
	|monster=Page
	|minAttack=Integer
	|maxAttack=Integer
	|attackRange=Integer
	|target=String
	|triggerSkill=Page
	|triggerSkillLevel=Integer
	|triggerSkillProbability=Integer
	}}
</noinclude>