<includeonly><!--
-->{{#cargo_query:
		tables={{{tables}}}
		|fields={{{fields}}}
		|join on={{{join on|}}}
		|where={{{where|}}}
		|group by={{{group by|}}}
		|order by={{{order by|}}}
		|limit={{{limit|}}}
		|intro={{#if: {{{collapsible|}}} | {{Collapsible Start|header={{{header|}}}|headerType={{{headerType|}}} }} }}
		<table class="wikitable sortable">
		<tr>{{{tableHeaders}}}</tr>
		|outro=</table>{{#if: {{{collapsible|}}} | {{Collapsible End}} }}
		|default={{{default|}}}
		|template={{{template}}}
		|named args=yes
		|format=template
	}}<!--
--></includeonly>