<includeonly><!--
-->{{Weapon Table
		|fields=items._pageName=name,items.icon,items.hasAbilities,
		items.minAttack,items.maxAttack,items.level,items.rarity,items.subcategory,concat(1)=showRarityColumn
		|classes={{{classes|}}}
		|commonOnly={{{commonOnly|}}}
		|rareOnly={{{rareOnly|}}}
		|minLevel={{{minLevel|}}}
		|maxLevel={{{maxLevel|}}}
		|twoHanded={{{twoHanded|}}}
		|subcategory={{{subcategory|}}}
		|collapsible={{{collapsible|}}}
		|header={{{header|}}}
		|tableHeaders=<th colspan="2">Name</th><th>Level</th><th>Rarity</th>
			<th>Type</th><th>Attack</th><th>Bonus</th>
		|order by=items.level
	}}<!--
--></includeonly>