<includeonly><!--
-->{{#cargo_store:
	_table=continents
	|id={{{id}}}
	|world={{{world}}}
	|town={{{town}}}
	}}<!--
--><!--
--></includeonly><!--
--><noinclude>
	{{#template_params:
	id
	|world
	|town
	}}
	{{#cargo_declare:
	_table=continents
	|id=Integer
	|world=Page
	|town=Boolean
	}}
</noinclude>