<includeonly><!--
-->{{#cargo_store:_table=drops
	|monster = {{PAGENAME}}
	|item = {{{item}}}
	|probabilityMin = {{{probabilityMin}}}
	|probabilityMax = {{{probabilityMax}}}
	|common = {{{common}}}
	}}<!--
-->[[{{PAGENAME}}]] - [[{{{item}}}]] - {{{probabilityMin}}} - {{{probabilityMax}}} - {{{common}}}
	<!--
--></includeonly><!--
--><noinclude>
	{{#template_params:monster|item|probabilityMin|probabilityMax|common}}
	{{#cargo_declare:_table=drops|monster=Page|item=Page|probabilityMin=Float|probabilityMax=Float|common=Boolean}}
</noinclude>