<includeonly><!--
-->{{Item Table
	|tables=items
	|fields=items._pageName=name,items.icon,if(items.subcategory is null, '', items.subcategory)=subcategory,items.description
	|order by=items._pageName
	|tableHeaders=<th colspan="2">Name</th><th>Subcategory</th><th>Description</th>
	|category=Material
	|subcategory=Element card
	|element={{#if: {{{element|}}} | {{{element}}} | {{PAGENAME}} }}
	|collapsible=1
	|header=Cards
}}<!--
-->{{Monster Table
	|fields=monsters._pageName=name,monsters.icon,monsters.hp,monsters.level,monsters.experience
	|tableHeaders=<th colspan="2">Name</th><th>Level</th><th>HP</th><th>Experience (%)</th>
	|element={{#if: {{{element|}}} | {{{element}}} | {{PAGENAME}} }}
	|collapsible=1
	|header=Monsters
}}<!--
-->{{Skill Table
	|fields=s._pageName=name,s.level,s.icon,s.class
	|tableHeaders=<th>Name</th><th>Level</th><th>Class</th>
	|element={{#if: {{{element|}}} | {{{element}}} | {{PAGENAME}} }}
	|collapsible=1
	|header=Skills
}}<!--
-->{{Item Table
	|tables=items,abilities
	|fields=items._pageName=name,items.icon,items.hasAbilities,items.level,items.rarity,concat(1)=showRarityColumn,
	if(items.subcategory is null, '', items.subcategory)=subcategory,items.class
	|join on=abilities._pageTitle=items._pageName
	|element={{#if: {{{element|}}} | {{{element}}} | {{PAGENAME}} }}
	|order by=items.level
	|tableHeaders=<th colspan="2">Name</th><th>Level</th><th>Rarity</th><th>Subcategory</th><th>Class</th><th>Effects</th>
	|category=Weapon
	|collapsible=1
	|header=Weapons
}}<!--
--></includeonly>