<includeonly><!--
-->{{Cargo Table
	|tables={{#if: {{{tables|}}} | {{{tables}}} | equipment_sets=es }}
	|fields={{#if: {{{fields|}}} | {{{fields}}} | es._pageName=name, es.level,es.transy }}
	|join on={{{join on|}}}
	|where=es.sex = "Male"
		{{#if: {{{class|}}} | AND es.class = "{{{class}}}" }}
		{{#if: {{{classes|}}} | AND es.class IN ({{{classes}}}) }}
		{{#if: {{{minLevel|}}} | AND es.level >= {{{minLevel}}} }}
		{{#if: {{{maxLevel|}}} | AND es.level <= {{{maxLevel}}} }}
		{{#if: {{{abilityParameter|}}} | AND abilities.parameter="{{{abilityParameter}}}" }}
		{{#if: {{{element|}}} | AND es.element="{{{element}}}" }}
	|order by=es.level
	|group by=es._pageName
	|limit={{#if: {{{limit|}}} | {{{limit}}} | 10 }}
	|tableHeaders={{#if: {{{tableHeaders|}}} | {{{tableHeaders}}} | <th>Male</th><th>Female</th><th>Level</th><th>Bonus</th> }}
	|header={{{header|}}}
	|collapsible={{{header|}}}
	|default={{#if: {{{default|}}} | {{{default}}} }}
	|template=Equipment Set Part Row
}}<!--
--></includeonly>