<includeonly>
	<tr>
		<td>[[{{{name}}}]]</td>
		<td>{{#if: {{{transy|}}} | [[{{{transy}}}]] }}</td>
		<td>{{{level}}}</td>
		{{#if: {{{class|}}} | <td>[[{{{class|}}}]]</td> }}
		<td>{{#cargo_query:
				tables=abilities
				|fields=abilities.equippedItemCount,abilities.parameter,
				abilities.valueIsAdded=add,abilities.valueIsSet=set,abilities.rate,
				abilities.attribute,abilities.dotValue,abilities.dotMode,abilities.skillChanceSkill,
				abilities.skillChanceLevel,abilities.pvp,abilities.pve
				|where=abilities.equipmentSet = "{{{name}}}" AND abilities.equippedItemCount=4 AND abilities.inherited = 1
				|order by=abilities.parameter ASC
				|named args=yes
				|format=template
				|default=<!---->
				|template=Ability TableData Output
			}}
		</td>
	</tr>
</includeonly>
