<includeonly><!--
-->{{Cargo Table
		|tables=items
		|fields=items._pageName=name,items.icon,items.hasAbilities,
		items.minAttack,items.maxAttack,items.level,items.rarity,items.class,concat(1)=showRarityColumn
		|where=items.subcategory="{{{1}}}"
		|order by=items._pageName
		|tableHeaders=
			<th colspan="2">Name</th><th>Level</th><th>Rarity</th>
			<th>Attack</th><th>Bonus</th><th>Class</th>
		|template=Item Table Row
	}}<!--
--></includeonly>