<div class="equipment-set-part-box">
	<div class="image">{{#ifexist: File:{{{icon|}}} | [[File:{{{icon|}}}|{{{name|}}}]] }}</div>
	<div class="name">[[{{{name|}}}]]</div>
	<!--
	<div class="extra-properties">
		Level:{{{level|}}}<br />
		Defense: {{{minDefense|}}} - {{{maxDefense|}}}
	</div>
	-->
</div>