<includeonly><!--
-->{{#cargo_query:
		tables=abilities
		|fields=abilities.equippedItemCount
		|where=abilities._pageName = "Data:{{PAGENAME}}"
		|order by=abilities.equippedItemCount DESC
		|group by=abilities.equippedItemCount
		|format=template
		|template=Equipment Set Infobox Bonus Row
		|named args=yes
}}<!--
--></includeonly><noinclude>
	Bonus data can be found at Data:Equipment Set Name. ([[Data:Ales Set]])
</noinclude>