<includeonly><!--
-->{{#cargo_query:
	tables=equipment_sets,items
	|fields=items.subcategory,items._pageName
	|join on=equipment_sets.parts HOLDS items._pageName
	|where=equipment_sets._pageName = "{{PAGENAME}}"
	|order by=FIELD(items.subcategory, 'helmet', 'suit', 'gauntlet', 'boots')
	|limit=5
	|format=template
	|template=Equipment Set Infobox Parts Row
	|named args=yes
}}<!--
--></includeonly><noinclude>
	Drop data can be found at Data:Monster Name. ([[Data:Aibatt]])
</noinclude>