<includeonly><!--
-->{{Infobox Row | {{{equippedItemCount|}}}/4 equipped | &nbsp; }}<!--
-->{{#cargo_query:
	tables=abilities
	|fields=abilities.equippedItemCount,abilities.parameter,
	abilities.valueIsAdded=add,abilities.valueIsSet=set,abilities.rate,
	abilities.attribute,abilities.dotValue,abilities.dotMode,abilities.skillChanceSkill,
	abilities.skillChanceLevel,abilities.pvp,abilities.pve
	|where=abilities.equipmentSet = "{{PAGENAME}}" AND abilities.equippedItemCount = {{{equippedItemCount}}} and abilities.inherited = 1
	|order by=abilities.equippedItemCount, abilities.parameter
	|format=template
	|template=Ability Infobox Output
	|named args=yes
	}}<!--
--></includeonly><noinclude>
	Bonus data can be found at Data:Equipment Set Name. ([[Data:Ales Set]])
</noinclude>