<includeonly>{{Cargo Table
		|tables=equipment_sets,drops,monsters
		|fields=drops.item,monsters.icon,
		drops.monster,monsters.level,
		monsters.hp,drops.probabilityMin,
		drops.probabilityMax,monsters.element
		|join on=equipment_sets.parts HOLDS drops.item,drops.monster=monsters._pageName
		|where=equipment_sets._pageName="{{PAGENAME}}"
		|order by=drops.probabilityMin DESC,monsters.level
		|group by=drops.monster
		|limit=500
		|header=Drop table for parts
		|collapsible=1
		|tableHeaders=<th colspan="3">Monster</th><th>Dropchance</th><th>Level</th><th>HP</th>
		|template=Item Drop Table Row
	}}</includeonly>