<includeonly><!--
-->{{#cargo_store:_table=monster_experience
	|monster = {{PAGENAME}}
	|level = {{{level}}}
	|experience = {{{experience}}}
	}}<!--
-->[[{{PAGENAME}}]] - {{{level}}} - {{{experience}}}
	<!--
--></includeonly><!--
--><noinclude>
	{{#template_params:monster|level|experience}}
	{{#cargo_declare:_table=monster_experience|monster=Page|level=Integer|experience=Float}}
</noinclude>