<includeonly><!--
-->{{Cargo Table
	|tables=monster_experience
	|fields=monster_experience.level, monster_experience.experience
	|where=monster_experience.monster = "{{PAGENAME}}"
	|order by=monster_experience.experience DESC
	|limit=121
	|default=
	|tableHeaders=<th>Your level</th><th>Experience</th>
	|collapsible=1
	|header=Experience table
	|template=Experience Table Row
}}<!--
--></includeonly><noinclude>
	Experience data can be found at Data:Monster Name. ([[Data:Aibatt]])
</noinclude>