<div class="infocard {{{class|}}}" style="<!--
-->{{#if: {{{width|}}} | width: {{{width}}}; }}<!--
-->{{#if: {{{color|}}} | border-color: {{{color}}}; }}<!--
-->{{#if: {{{style|}}} | {{{style}}} }}<!--
-->"><!--
	--><div class="infocard-header" style="<!--
-->{{#if: {{{color|}}} | background-color: {{{color}}}; }}<!--
-->"><!--
		--><span class="text"><!--
		-->{{#if: {{{link|}}} |<!--
			-->[[{{{link}}}|{{{header|}}}]] |<!--
			-->{{{header|}}} }}<!--
		--></span><!--
		-->{{#if: {{{image|}}} |<!--
			--><span class="image">[[File:{{{image}}}|x32px|link={{{link|}}}]]</span><!--
		-->}}<!--
	--></div><!--
	--><div class="infocard-body" {{#if: {{{styleBody|}}} |style=" {{{styleBody}}}"}}><!--
		-->{{{1|}}}<!--
	--></div><!--
--></div>