<includeonly><!--
--><li>[[{{{category}}}]]<!--
	-->{{#cargo_query:
	tables=items
	|fields=items.subcategory
	|where=items.category="{{{category}}}" and items.subcategory != "" and items.subcategory IS NOT NULL
	|group by=items.subcategory
	|order by=items.subcategory
	|format=template
	|named args=yes
	|template=Item Subcategory List
	|intro=<ul>
	|outro=</ul>
	|default=
}}<!--
--></li><!--
--></includeonly>