<includeonly>{{Cargo Table
	|tables=shops=s,npcs=n,locations=l
	|fields=n._pageName=name,l.world=world,l.continent=continent
	|join on=n._pageName=s._pageTitle, n._pageName=l._pageTitle
	|where=s.items HOLDS "{{PAGENAME}}"
	|order by=n._pageName
	|limit=500
	|default=
	|collapsible=1
	|header=Sold by
	|tableHeaders=<th>NPC</th><th>Location</th>
	|template=Item Sold By Table Row
}}</includeonly>