<includeonly>{{Cargo Table
			|tables=drops,monsters
			|fields=monsters.icon,drops.monster,monsters.level,monsters.hp,drops.probabilityMin,drops.probabilityMax,monsters.element
			|join on=drops.monster=monsters._pageName
			|where=drops.item = "{{PAGENAME}}"
			|order by=drops.probabilityMin DESC
			|limit=500
			|default=
			|tableHeaders=<th colspan="3">Monster</th><th>Dropchance</th><th>Level</th><th>HP</th>
			|collapsible=1
			|header=Drop table
			|template=Item Drop Table Row
		}}</includeonly><noinclude>
	Drop data can be found at Data:Monster Name. ([[Data:Aibatt]])
</noinclude>