<includeonly>
	<tr>
		<td>[[File:{{{icon|}}}|x50px|center|link={{{monster}}}]]</td>
		<td>{{Element Icon|{{{element}}}|link={{{element}}} }}</td>
		<td>[[{{{monster}}}]]</td>
		<td>{{#ifeq: {{{probabilityMin}}} | 0 | < 0.001 |  {{{probabilityMin}}} - {{{probabilityMax}}} }}</td>
		<td>{{{level}}}</td>
		<td data-sort-value="{{{hp}}}">{{Number Format|{{{hp}}}}}</td>
	</tr>
</includeonly>