<includeonly><!--
-->{{Cargo Table
		|tables={{#if: {{{tables|}}} | {{{tables}}} | items }}
		|fields={{#if: {{{fields|}}} | {{{fields}}} | items._pageName=name,items.icon,items.hasAbilities }}
		|join on={{{join on|}}}
		|where={{#if: {{{where|}}} | {{{where}}} |
			items.id>0
			{{#if: {{{items|}}} | AND items._pageName IN ({{{items|}}}) }}
			{{#if: {{{notItems|}}} | AND items._pageName NOT IN ({{{notItems|}}}) }}
			{{#if: {{{transy|}}} | AND (items.sex = "Male" or items.sex = null)}}
			{{#if: {{{premium|}}} | AND items.premium="{{{premium}}}" }}
			{{#if: {{{subcategory|}}} | AND items.subcategory="{{{subcategory}}}" }}
			{{#if: {{{category|}}} | AND items.category="{{{category}}}" }}
			{{#if: {{{notSubcategory|}}} | AND items.subcategory!="{{{notSubcategory}}}" }}
			{{#if: {{{notCategory|}}} | AND items.category!="{{{notCategory}}}" }}
			{{#if: {{{abilityParameter|}}} | AND abilities.parameter="{{{abilityParameter}}}" }}
			{{#if: {{{element|}}} | AND items.element="{{{element}}}" }}
		}}
		|order by={{#if: {{{order by|}}} | {{{order by}}} | items._pageName }}
		|limit={{#if: {{{limit|}}} | {{{limit}}} | 200 }}
		|tableHeaders={{#if: {{{tableHeaders|}}} | {{{tableHeaders}}} | <th colspan="2">Name</th><th>Effects</th> }}
		|collapsible={{{collapsible|}}}
		|header={{{header|}}}
		|headerType={{{headerType|}}}
		|default={{#if: {{{default|}}} | {{{default}}} }}
		|template=Item Table Row
	}}<!--
--></includeonly>