<includeonly><!--
--><tr><!--
-->{{#if: {{{icon|}}} | <td>[[File:{{{icon}}}|link={{{name|}}}]]</td> }}<!--
-->{{#if: {{{image|}}} | <td>[[File:{{{image}}}|x32px|link={{{name}}}]]</td> }}<!--
-->{{#if: {{{name|}}} | <td>{{Rarity Text Color|{{{rarity}}}|[[{{{name}}}]] }}</td> }}<!--
-->{{#ifeq: {{{transyIcon|}}} | {{{transyIcon}}} | <td>{{#if: {{{transyIcon|}}} | [[File:{{{transyIcon}}}|link={{{counterpart|}}}]] }}</td> | }}<!--
-->{{#ifeq: {{{transy|}}} | {{{transy}}} | <td>{{#if: {{{transy|}}} | {{Rarity Text Color|{{{rarity}}}|{{{transy}}} }} }}</td> | }}<!--
-->{{#if: {{{probabilityMax|}}} | <td>{{#ifeq: {{{probabilityMin}}} | 0 | < 0.001 |  {{{probabilityMin}}} - {{{probabilityMax}}} }}</td> }}<!--
-->{{#if: {{{level|}}} | <td>{{{level}}}</td> }}<!--
-->{{#if: {{{showRarityColumn|}}} | <td data-sort-value="{{Rarity Sort Value|{{{rarity|}}} }}">{{Rarity Text Color|{{{rarity}}}|{{{rarity}}} }}</td> }}<!--
-->{{#if: {{{category|}}} | <td>[[{{{category}}}]]</td> }}<!--
-->{{#ifeq: {{{subcategory|}}} | {{{subcategory}}} | <td>{{#if: {{{subcategory|}}} | [[{{{subcategory}}}]] }}</td> }}<!--
-->{{#if: {{{minDefense|}}} | <td>{{{minDefense}}} - {{{maxDefense}}}</td> }}<!--
-->{{#if: {{{minAttack|}}} | <td>{{{minAttack}}} - {{{maxAttack}}}</td> }}<!--
-->{{#if: {{{twoHanded|}}} | <td>{{#ifeq: {{{twoHanded|}}} | 1 | Yes | No }}</td> }}<!--
-->{{#if: {{{premium|}}} | <td>{{#ifeq: {{{premium|}}} | 1 | Yes | No }}</td> }}<!--
-->{{#ifeq: {{{sex|}}} | {{{sex}}} | <td>{{#if: {{{sex|}}} | {{{sex}}} }}</td> | }}<!--
-->{{#if: {{{flightSpeed|}}} | <td>{{{flightSpeed}}}</td> }}<!--
-->{{#ifeq: {{{class|}}} | {{{class}}} | <td>{{#if: {{{class|}}} | [[{{{class}}}]] }}</td> | }}<!--
-->{{#if: {{{hasAbilities|}}} | <td>{{#cargo_query:
	tables=abilities
	|fields=abilities.equippedItemCount,abilities.parameter,
	abilities.valueIsAdded=add,abilities.valueIsSet=set,abilities.rate,
	abilities.attribute,abilities.dotValue,abilities.dotMode,abilities.skillChanceSkill,
	abilities.skillChanceLevel,abilities.pvp,abilities.pve
	|where=abilities._pageName = "Data:{{{name}}}"
	|order by=abilities.parameter ASC
	|named args=yes
	|default=
	|format=template
	|template=Ability TableData Output
	}}</td> }}<!--
-->{{#ifeq: {{{cooldown|}}} | {{{cooldown}}} | <td>{{{cooldown}}}</td> }}<!--
-->{{#ifeq: {{{description|}}} | {{{description}}} | <td>{{{description}}}</td> }}<!--
-->{{#ifeq: {{{duration|}}} | {{{duration}}} | <td>{{#expr: {{{duration}}} / 60 }}</td> }}<!--
--></tr><!--
--></includeonly>