<includeonly><!--
-->{{#cargo_query:
		tables=abilities
		|fields=abilities.equippedItemCount,abilities.parameter,
		abilities.valueIsAdded=add,abilities.valueIsSet=set,abilities.rate,
		abilities.attribute,abilities.dotValue,abilities.dotMode,abilities.skillChanceSkill,
		abilities.skillChanceLevel,abilities.pvp,abilities.pve
		|where=abilities._pageName = "Data:{{PAGENAME}}"
		|order by=abilities.parameter ASC
		|format=template
		|template=Ability Infobox Output
		|named args=yes
		|default=
	}}<!--
--></includeonly><noinclude>
	Ability data can be found at Data:Item Name. ([[Data:Guardian Knuckle]])
</noinclude>