<includeonly><!--
-->{{Cargo Table
	|tables=items
	|fields=items._pageName=name,items.icon,items.hasAbilities,items.level,items.rarity,concat(1)=showRarityColumn
	|where=items.subcategory="{{{1}}}"
	|order by=items._pageName
	|tableHeaders=<th colspan="2">Name</th><th>Level</th><th>Rarity</th><th>Bonus</th>
	|format=template
	|header={{{header|}}}
	|template=Item Table Row
}}<!--
--></includeonly>