<includeonly><!--
	-->
	{{#cargo_query:
		tables=
			worlds,
			{{#ifeq: {{{type|}}} | spawn | spawns, }}
			{{#ifeq: {{{type|}}} | location | locations, }}
		|fields=
			worlds._pageName=world,worlds.tileSize, worlds.tileName, worlds.width, worlds.height,
			{{#ifeq: {{{type|}}} | spawn | spawns.posLeft, spawns.posRight, spawns.top, spawns.bottom,spawns.aggressivity }}
			{{#ifeq: {{{type|}}} | location | locations.x, locations.y, locations.z }}
		|join on=
			{{#ifeq: {{{type|}}} | spawn | spawns.world = worlds._pageName }}
			{{#ifeq: {{{type|}}} | location | locations.world = worlds._pageName }}
		|where=
			{{#ifeq: {{{type|}}} | world | worlds._pageTitle="{{PAGENAME}}" }}
			{{#ifeq: {{{type|}}} | spawn | spawns._pageTitle="{{PAGENAME}}" }}
			{{#ifeq: {{{type|}}} | location | locations._pageTitle="{{PAGENAME}}" }}

		|intro={{{intro|}}}<div class="leaflet-map" style="height: 500px; width: 100%; display: none;">[
		|outro={}]</div>{{{outro|}}}
		|default=
		|template=Map Data Row
		|named args=yes
		|format=template
	}}
<!--
--></includeonly>