<includeonly>
	{
		"world": "{{{world}}}",
		"tileSize": {{{tileSize}}},
		"tileName": "{{{tileName}}}",
		"width": {{{width}}},
		"height": {{{height}}}
		{{#if: {{{posLeft|}}} | ,"posLeft": {{{posLeft}}} }}
		{{#if: {{{posRight|}}} | ,"posRight": {{{posRight}}} }}
		{{#if: {{{top|}}} | ,"top": {{{top}}} }}
		{{#if: {{{bottom|}}} | ,"bottom": {{{bottom}}} }}
		{{#if: {{{x|}}} | ,"x": {{{x}}} }}
		{{#if: {{{y|}}} | ,"y": {{{y}}} }}
		{{#if: {{{z|}}} | ,"z": {{{z}}} }}
	},
</includeonly>
<noinclude>
	why use scribunto and lua if you can do it like that? please kill me :)
</noinclude>