<includeonly><!--
--><tr><!--
-->{{#if: {{{icon|}}} | <td>[[File:{{{icon}}}|x50px|link={{{name|}}}]]</td> }}<!--
-->{{#if: {{{name|}}} | <td>[[{{{name}}}]]</td> }}<!--
-->{{#if: {{{element|}}} | <td>{{Element Icon|{{{element}}}|link={{{element}}} }}</td> }}<!--
-->{{#if: {{{rank|}}} | <td>[[{{{rank}}}]]</td> }}<!--
-->{{#if: {{{level|}}} | <td>{{{level}}}</td> }}<!--
-->{{#if: {{{hp|}}} | <td data-sort-value="{{{hp}}}">{{Number Format|{{{hp}}}}}</td> }}<!--
-->{{#if: {{{experience|}}} | <td>{{{experience|}}}</td> }}<!--
--></tr><!--
--></includeonly>