<includeonly><!--
-->{{Cargo Table
	|tables=drops,items
	|fields=items.icon,drops.item=name,items.category,items.level,
		concat(1)=showRarityColumn,
		items.subcategory,items.rarity,
		IF(items.class IS NOT NULL,items.class,"")=class,
		IF(items.subcategory IS NOT NULL,items.subcategory,"")=subcategory,
		drops.probabilityMin, drops.probabilityMax
	|join on=drops.item=items._pageName
	|where=drops.monster = "{{PAGENAME}}"
	|order by=drops.probabilityMin DESC
	|limit=500
	|collapsible=1
	|header={{#if: {{{header|}}} | {{{header}}} | Drop table }}
	|default=
	|tableHeaders=
		<th colspan="2">Item</th><th>Dropchance %</th>
		<th>Level</th><th>Rarity</th><th>Category</th><th>Subcategory</th>
		<th>Class</th>
	|template=Item Table Row
}}<!--
--></includeonly><noinclude>
	Drop data can be found at Data:Monster Name. ([[Data:Aibatt]])
</noinclude>