<includeonly><!--
-->{{Cargo Table
		|tables=monsters
		|fields={{#if: {{{fields|}}} | {{{fields}}} | monsters._pageName=name,monsters.icon,
			monsters.element,monsters.hp,monsters.level
		}}
		{{#if: {{{additionalFields|}}} | ,{{{additionalFields}}} }}
		|where={{#if: {{{where|}}} | {{{where}}} |
			monsters.id > 0
			{{#if: {{{rank|}}} | AND monsters.rank = "{{{rank}}}" }}
			{{#if: {{{element|}}} | AND monsters.element = "{{{element}}}" }}
		}}
		|order by={{#if: {{{order by|}}} | {{{order by}}} | monsters.level }}
		|limit=500
		|tableHeaders={{#if: {{{tableHeaders|}}} | {{{tableHeaders}}} | <th colspan="3">Name</th><th>Level</th><th>HP</th> }}
		|collapsible={{{collapsible|}}}
		|header={{{header|}}}
		|template=Monster Table Row
	}}<!--
--></includeonly>