<includeonly><!--
-->{{#cargo_query:
	tables=attacks
	|fields=attacks.monster,attacks.minAttack,attacks.maxAttack,attacks.attackRange,attacks.target,
	attacks.triggerSkill,attacks.triggerSkillLevel,attacks.triggerSkillProbability
	|where=attacks.monster = "{{PAGENAME}}"
	|limit=10
	|format=template
	|template=Monster Infobox Attacks Row
	|named args=yes
	|intro={{Infobox Spacer | Attacks }}
	|default=
}}<!--
--></includeonly><noinclude>
	Attack data can be found at Data:Monster Name. ([[Data:Aibatt]])
</noinclude>