<includeonly><!--
-->	{{Infobox Spacer Small | rowClass=hide-if-after-spacer }}<!--
-->	{{Infobox Row | Damage | {{{minAttack}}} - {{{maxAttack}}} }}<!--
-->	{{Infobox Row | Range | {{{attackRange}}}m }}<!--
-->	{{Infobox Row | Target | {{{target}}} }}<!--
-->{{#if: {{{triggerSkill|}}} |<!--
	-->	{{Infobox Row | Trigger skill | [[{{{triggerSkill}}}]] }}<!--
	-->	{{Infobox Row | Skill level | {{{triggerSkillLevel}}} }}<!--
	-->	{{Infobox Row | Skill probability | {{{triggerSkillProbability}}}% }}<!--
-->}}<!--
--></includeonly><noinclude></noinclude>