<includeonly><!--
-->{{Cargo Table
		|tables=shops,items
		|fields=shops.name=shopName,items._pageName=itemName,items.icon,items.rarity,items.buyPrice
		|join on=shops.items HOLDS items._pageName
		|where=shops.npc = "{{PAGENAME}}"
		|limit=50
		|order by=shops.name
		|header=Sells
		|collapsible=1
		|tableHeaders=<th>Shop</th><th colspan="2">Item</th><th>Sold for</th>
		|template=NPC Shops Row
	}}<!--
--></includeonly><noinclude>
	Shop data can be found at Data:NPC Name. ([[Data:Arena Store Deek]])
</noinclude>
