<includeonly><!--
--><tr>
		<td>{{{shopName}}}</td>
		<td data-sort-value="{{{itemName}}}">[[File:{{{icon}}}|link={{{itemName}}}]]</td>
		<td>{{Rarity Text Color|{{{rarity}}}|{{{itemName}}}}}</td>
		<td>{{Number Format|{{{buyPrice}}}}}</td>
	<tr><!--
--></includeonly>