<includeonly><!--
--><tr><!--
--><td>[[File:{{{icon}}}|x32px|link={{{name|}}}]]</td><!--
--><td>{{#if: {{{realName|}}} | [[{{{name}}}|{{{realName|}}}]] | [[{{{name}}}]] }}</td><!--
--><td>{{{level}}}</td><!--
--><td>{{#if: {{{consumedPoints|}}} | {{{consumedPoints|}}} | 0 }}</td><!--
--><td>{{#if: {{{duration|}}} | {{{duration|}}} | 0 }}</td><!--
--><td>{{{description|}}}</td><!--
--></tr><!--
--></includeonly>