<includeonly><!--
-->{{#cargo_store:
	_table=polygons
	|continent={{PAGENAME}}
	|x={{{x}}}
	|Z={{{Z}}}
	}}<!--
-->[[{{PAGENAME}}]] - x: {{{x}}} - Z: {{{Z}}}<br /><!--
--></includeonly><!--
--><noinclude>
	{{#template_params:
	continent
	|x
	|Z
	}}
	{{#cargo_declare:
	_table=polygons
	|continent=Page
	|x=Float
	|Z=Float
	}}
</noinclude>