<includeonly><!--
-->{{#cargo_store:_table=quest_item_rewards
	|quest = {{PAGENAME}}
	|item = {{{item}}}
	|count = {{{count}}}
	|soulLInked = {{{soulLInked}}}
	}}<!--
-->[[{{PAGENAME}}]] - {{{count}}} x [[{{{item}}}]] - {{{soulLinked}}}
	<!--
--></includeonly><!--
--><noinclude>
	{{#template_params:
		quest
		|item
		|count
		|soulLinked
	}}
	{{#cargo_declare:
		_table=quest_item_rewards
		|quest=Page
		|item=Page
		|count=Integer
		|soulLinked=Boolean
	}}
</noinclude>