<includeonly><!--
-->{{Quest Table
		|tables={{#if: {{{tables|}}} | {{{tables}}} |
			quest_chains,quests
		}}
		|fields={{#if: {{{fields|}}} | {{{fields}}} |
			quests._pageName=name,
			concat(1)=showTodo,
			concat(1)=showRewards,
			{{#if: {{{showLevels|}}} | quest_chains.minLevel, quest_chains.maxLevel, }}
			quests.endNPC,quests.endTalkNPC,
			quests.endReceiveGold,quests.endReceiveSkillPoints,quests.endReceiveKarma,
			quests.endReceiveInventorySpaces,quests.endReceiveExperience,quests.hasItemReward
		}}
		|join on={{#if: {{{join on|}}} | {{{join on}}} |
			quest_chains.quests HOLDS quests._pageName
		}}
		|where={{#if: {{{where|}}} | {{{where}}} |
			quest_chains._ID > 0
			{{#if: {{{questChain|}}} | AND quest_chains.quests HOLDS "{{{questChain}}}" }}
			{{#if: {{{parent|}}} | AND quest_chains.parent = "{{{parent}}}" }}
		}}
		|order by={{#if: {{{order by|}}} | {{{order by}}} | quest_chains__quests._position }}
		|limit={{#if: {{{limit|}}} | {{{limit}}} | 18 }}
		|tableHeaders={{#if: {{{tableHeaders|}}} | {{{tableHeaders}}} |
			<th>Name</th>
			{{#if: {{{showLevels|}}} | <th>Min. level</th><th>Max. level</th> }}
			<th>Todo</th><th>Rewards</th>
		}}
		|header={{{header|}}}
		|headerType={{{headerType|}}}
		|collapsible={{{collapsible|}}}
	}}<!--
--></includeonly>