<includeonly><!--
-->{{Cargo Table
		|tables={{#if: {{{tables|}}} | {{{tables}}} | quests }}
		|fields={{#if: {{{fields|}}} | {{{fields}}} |
			quests._pageName=name,
			quests.minLevel,quests.maxLevel,
			quests.endNPC,quests.endTalkNPC,
			concat(1)=showTodo,
			concat(1)=showRewards,
			quests.endReceiveGold,quests.endReceiveSkillPoints,quests.endReceiveKarma,
			quests.endReceiveInventorySpaces,quests.endReceiveExperience,quests.hasItemReward
		}}
		|join on={{{join on|}}}
		|where={{#if: {{{where|}}} | {{{where}}} |
			concat(1)=1
			{{#if: {{{quest|}}} | AND quests._pageName="{{{quest}}}" }}
			{{#if: {{{type|}}} | AND quests.type="{{{type}}}" }}
			{{#if: {{{notType|}}} | AND quests.type!="{{{notType}}}" }}
			{{#if: {{{notTypes|}}} | AND quests.type NOT IN ({{{notTypes}}}) }}
			{{#if: {{{parent|}}} | AND quests.parent="{{{parent}}}" }}
			{{#if: {{{minLevel|}}} | AND quests.minLevel={{{minLevel}}} }}
			{{#if: {{{minMinLevel|}}} | AND quests.minLevel>={{{minMinLevel}}} }}
			{{#if: {{{maxLevel|}}} | AND quests.maxLevel={{{maxLevel}}} }}
			{{#if: {{{notParents|}}} | AND quests.parent NOT IN ({{{notParents}}}) }}
			{{#if: {{{additionalWhere|}}} | AND {{{additionalWhere}}} }}
		}}
		|order by={{#if: {{{order by|}}} | {{{order by}}} | quests.minLevel }}
		|group by={{#if: {{{group by|}}} | {{{group by}}} }}
		|limit={{#if: {{{limit|}}} | {{{limit}}} | 500 }}
		|tableHeaders={{#if: {{{tableHeaders|}}} | {{{tableHeaders}}} |
			<th>Name</th><th>Min. level</th><th>Max. level</th><th>Todo</th><th>Rewards</th>
		}}
		|template=Quest Table Row
		|header={{{header|}}}
		|headerType={{{headerType|}}}
		|collapsible={{{collapsible|}}}
	}}<!--
--></includeonly>