<includeonly><!--
--><table class="wikitable" style="max-width: 500px;"><!--
	-->{{#if: {{{dialogsBegin|}}} | <tr><td><strong>Begin</strong></td><td>{{{dialogsBegin}}}</td></tr> }}<!--
	-->{{#if: {{{dialogsAccept|}}} | <tr><td><strong>Accept</strong></td><td>{{{dialogsAccept}}}</td></tr> }}<!--
	-->{{#if: {{{dialogsDecline|}}} | <tr><td><strong>Decline</strong></td><td>{{{dialogsDecline}}}</td></tr> }}<!--
	-->{{#if: {{{dialogsComplete|}}} | <tr><td><strong>Complete</strong></td><td>{{{dialogsComplete}}}</td></tr> }}<!--
	-->{{#if: {{{dialogsFail|}}} | <tr><td><strong>Fail</strong></td><td>{{{dialogsFail}}}</td></tr> }}<!--
--></table><!--
--></includeonly>




