<includeonly><!--
--><tr><!--
-->{{#if: {{{name|}}} | <td>[[{{{name}}}]]</td> }}<!--
-->{{#if: {{{type|}}} | <td>{{{type}}}</td> }}<!--
-->{{#if: {{{showChainQuests|}}} | <td>{{Quest Chain Quests List|quest={{{quest}}}}}</td> }}<!--
-->{{#if: {{{beginClasses|}}} | <td>{{{beginClasses}}}</td> }}<!--
-->{{#if: {{{minLevel|}}} | <td>{{{minLevel}}}</td> }}<!--
-->{{#if: {{{maxLevel|}}} | <td>{{{maxLevel}}}</td> }}<!--
-->{{#if: {{{description|}}} | <td>{{{description}}}</td> }}<!--
-->{{#if: {{{showTodo|}}} | <td><!--
	-->{{Quest Todos|quest={{{name}}} }}<!--
	-->{{#if: {{{endTalkNPC|}}} | Speak to [[{{{endTalkNPC}}}]] <br />}}<!--
	-->{{#if: {{{endNPC|}}} | Speak to [[{{{endNPC}}}]]}}<!--
--></td> }}<!--
-->{{#if: {{{showRewards|}}} | <td style="min-width: 120px;"><!--
	-->{{#if: {{{endReceiveGold|}}} | Gold: {{Number Format|{{{endReceiveGold|}}} }}<br/> }}<!--
	-->{{#if: {{{endReceiveSkillPoints|}}} |  Skill points: {{{endReceiveSkillPoints}}}<br/> }}<!--
	-->{{#if: {{{endReceiveKarma|}}} | Karma: {{#ifeq: {{{endReceiveKarma}}} | =0 | Set to 0 | {{{endReceiveKarma}}} }}<br/> }}<!--
	-->{{#if: {{{endReceiveInventorySpaces|}}} | Inventory spaces: {{{endReceiveGold}}}<br/> }}<!--
	-->{{#if: {{{endReceiveExperience|}}} | Experience: {{{endReceiveExperience}}}%<br/> }}<!--
	-->{{#ifeq: {{{hasItemReward|}}} | 1 | Items: {{Quest Item Rewards|quest={{{name}}} }} }}<!--
--></td> }}<!--
--><!--
--></tr><!--
--></includeonly>
<noinclude></noinclude>