<includeonly><!--
-->{{#cargo_store:
	_table=quest_chains
	|name={{{name|}}}
	|quests={{{quests}}}
	|parent={{{parent|}}}
	|minLevel={{{minLevel}}}
	|maxLevel={{{maxLevel}}}
	}}<!--
--> {{{name|}}} {{{quests}}}
	<!--
--></includeonly><!--
--><noinclude>
	{{#template_params:
	|name
	|quests
	|parent
	|minLevel
	|maxLevel
	}}
	{{#cargo_declare:
	_table=quest_chains
	|name=String
	|quests=List ({{!}}) of Page
	|parent=Page
	|minLevel=Integer
	|maxLevel=Integer
	}}
</noinclude>