<includeonly><!--
-->{{#cargo_store:_table=quest_todos
	|quest = {{PAGENAME}}
	|monster = {{{monster|}}}
	|item = {{{item|}}}
	|custom = {{{custom|}}}
	|count = {{{count}}}
	}}<!--
-->[[{{PAGENAME}}]] - {{{count}}} x [[{{{item}}}]] - [[{{{monster}}}]]
	<!--
--></includeonly><!--
--><noinclude>
	{{#template_params:
		quest
		|monster
		|item
		|count
		|custom
	}}
	{{#cargo_declare:
		_table=quest_todos
		|quest=Page
		|monster=Page
		|item=Page
		|count=Integer
		|custom=String
	}}
</noinclude>