<includeonly><!--
-->{{#cargo_store:
	_table=scalings
	|skill={{PAGENAME}}
	|skillLevel={{{skillLevel}}}
	|parameter={{{parameter}}}
	|stat={{{stat}}}
	|scale={{{scale}}}
	|pvp={{{pvp}}}
	|pve={{{pve|}}}
	}}<!--
-->[[{{PAGENAME}}]] - {{{skillLevel}}} - {{{parameter}}} - {{{stat}}} - {{{scale}}}<br /><!--
--></includeonly><!--
--><noinclude>
	{{#template_params:
	skill
	|skillLevel
	|parameter
	|stat
	|scale
	|pvp
	|pve
	}}
	{{#cargo_declare:
	_table=scalings
	|skill=Page
	|skillLevel=Integer
	|parameter=String
	|stat=String
	|scale=Float
	|pvp=Boolean
	|pve=Boolean
	}}
</noinclude>