<includeonly><!--
-->{{#cargo_store:_table=shops
	|npc = {{PAGENAME}}
	|name = {{{name}}}
	|items = {{{items}}}
	}}<!--
-->[[{{PAGENAME}}]] - {{{name}}} - {{{items}}}
	<!--
--></includeonly><!--
--><noinclude>
	{{#template_params:npc|name|items}}
	{{#cargo_declare:_table=shops|npc=Page|name=String|items=List (,) of Page}}
</noinclude>