<includeonly><!--
-->{{Cargo Table
		|tables=skill_levels=sl
		|fields=sl.level, sl.minAttack,sl.maxAttack,sl.probability,sl.probabilityPVP,sl.consumedMP,sl.consumedFP,
		sl.cooldown,sl.casting,sl.duration,sl.durationPVP,sl.dotTick,sl.spellRange,
		sl.wallLives,sl.reflectedDamagePVE,sl.refletectedDamagePVP,
		|where=sl.skill = "{{PAGENAME}}"
		|order by=sl.level DESC
		|limit=21
		|tableHeaders=<th>Level</th><!--
		-->{{#if: {{{attack|}}}|<th>Attack</th>}}<!--
		-->{{#if: {{{abilities|}}}|<th>Effects</th>}}<!--
		-->{{#if: {{{abilities|}}}|<th>Scaling</th>}}<!--
		-->{{#if: {{{probability|}}}|<th>Probability</th>}}<!--
		-->{{#if: {{{probabilityPVP|}}}|<th>Probability PVP</th>}}<!--
		-->{{#if: {{{consumedMP|}}}|<th>MP</th>}}<!--
		-->{{#if: {{{consumedFP|}}}|<th>FP</th>}}<!--
		-->{{#if: {{{cooldown|}}}|<th>Cooldown</th>}}<!--
		-->{{#if: {{{casting|}}}|<th>Casttime</th>}}<!--
		-->{{#if: {{{duration|}}}|<th>Duration</th>}}<!--
		-->{{#if: {{{durationPVP|}}}|<th>Duration PVP</th>}}<!--
		-->{{#if: {{{dotTick|}}}|<th>DoT tick</th>}}<!--
		-->{{#if: {{{spellRange|}}}|<th>Range</th>}}<!--
		-->{{#if: {{{wallLives|}}}|<th>Wall lives</th>}}<!--
		-->{{#if: {{{reflectedDamagePVE|}}}|<th>Reflected damage</th>}}<!--
		-->{{#if: {{{refletectedDamagePVP|}}}|<th>!Reflected damage PVP</th>}}
		|template=Skill Levels Table Row
		|header=Skill levels
		|collapsible=1
		}}<!--
--></includeonly><noinclude>
	Skill data can be found at Data:Skill Name. ([[Data:Holyguard]])
</noinclude>