<includeonly><!--
-->{{Cargo Table
		|tables=skills=s
		|fields={{#if: {{{fields|}}} | {{{fields}}} | s._pageName=name,s.level,s.element,s.weapon,s.icon }}
		|where=s.id > 0
			{{#if: {{{class|}}} | AND s.class = "{{{class}}}" }}
			{{#if: {{{element|}}} | AND s.element = "{{{element}}}" }}
		|order by=s.level,s._pageName
		|limit=50
		|collapsible={{{collapsible|}}}
		|header={{{header|}}}
		|tableHeaders={{#if: {{{tableHeaders|}}} | {{{tableHeaders}}} | <th>Name</th><th>Level</th><th>Element</th><th>Weapon</th> }}
		|template=Skill Table Row
	}}<!--
--></includeonly>