<includeonly><!--
	--><tr><!--
	--><td>[[File:{{{icon}}}|x32px|link={{{name}}}]] [[{{{name}}}]]</td><!--
	--><td>{{{level}}}</td><!--
	-->{{#if: {{{element|}}} | <td>{{Element Icon |{{{element}}}| link={{{element}}} }} {{Element | {{{element}}}}}</td> }}<!--
	-->{{#if: {{{weapon|}}} | <td>{{{weapon}}}</td> }}<!--
	-->{{#if: {{{class|}}} | <td>[[{{{class}}}]]</td> }}<!--
	--></tr><!--
--></includeonly>