<includeonly><!--
-->{{#cargo_store:
	_table=skill_levels
	|skill={{PAGENAME}}
	|level={{{level}}}
	|minAttack={{{minAttack|}}}
	|maxAttack={{{maxAttack|}}}
	|probability={{{probability|}}}
	|probabilityPVP={{{probabilityPVP|}}}
	|consumedMP={{{consumedMP|}}}
	|consumedFP={{{consumedFP|}}}
	|cooldown={{{cooldown|}}}
	|casting={{{casting|}}}
	|duration={{{duration|}}}
	|durationPVP={{{durationPVP|}}}
	|dotTick={{{dotTick|}}}
	|spellRange={{{spellRange|}}}
	|wallLives={{{wallLives|}}}
	|reflectedDamagePVE={{{reflectedDamagePVE|}}}
	|refletectedDamagePVP={{{refletectedDamagePVP|}}}
	}}<!--
-->[[{{PAGENAME}}]] - {{{minAttack}}} - {{{maxAttack}}} - {{{probability}}}<br /><!--
--></includeonly><!--
--><noinclude>
	{{#template_params:
	skill
	|level
	|minAttack
	|maxAttack
	|probability
	|probabilityPVP
	|consumedMP
	|consumedFP
	|cooldown
	|casting
	|duration
	|durationPVP
	|dotTick
	|spellRange
	|wallLives
	|reflectedDamagePVE
	|refletectedDamagePVP
	}}
	{{#cargo_declare:
	_table=skill_levels
	|skill=Page
	|level=Integer
	|minAttack=Integer
	|maxAttack=Integer
	|probability=Integer
	|probabilityPVP=Integer
	|consumedMP=Integer
	|consumedFP=Integer
	|cooldown=Float
	|casting=Float
	|duration=Float
	|durationPVP=Float
	|dotTick=Float
	|spellRange=Float
	|wallLives=IntegerInteger
	|reflectedDamagePVE=Integer
	|refletectedDamagePVP=Integer
	}}
</noinclude>