<includeonly><!--
	--><tr><!--
	--><td>{{{level}}}</td><!--
	-->{{#if: {{{minAttack| }}}|<td>{{{minAttack|}}} - {{{maxAttack|}}}</td> }}<!--
	--><td>{{#cargo_query:
		tables=abilities
		|fields=abilities.equippedItemCount,abilities.parameter,
		abilities.valueIsAdded=add,abilities.valueIsSet=set,abilities.rate,
		abilities.attribute,abilities.dotValue,abilities.dotMode,abilities.skillChanceSkill,
		abilities.skillChanceLevel,abilities.pvp,abilities.pve
		|where=abilities._pageName = "Data:{{PAGENAME}}" and abilities.skillLevel = {{{level}}}
		|order by=abilities.parameter ASC
		|named args=yes
		|default=<!---->
		|format=template
		|template=Ability TableData Output
	}}</td><!--
	--><td>{{#cargo_query:
		tables=scalings
		|fields=scalings.parameter,scalings.stat,scalings.scale,scalings.pvp,scalings.pve
		|where=scalings.skill="{{PAGENAME}}" and scalings.skillLevel = {{{level}}}
		|order by=scalings.parameter ASC
		|named args=yes
		|default=
		|format=template
		|template=Scaling TableData Output
	}}</td><!--
	-->{{#if: {{{probability|}}}|<td>{{{probability|}}}%</td> }}<!--
	-->{{#if: {{{probabilityPVP|}}}|<td>{{{probabilityPVP|}}}%</td> }}<!--
	-->{{#if: {{{consumedMP|}}}|<td>{{{consumedMP|}}}</td> }}<!--
	-->{{#if: {{{consumedFP|}}}|<td>{{{consumedFP|}}}</td> }}<!--
	-->{{#if: {{{cooldown|}}}|<td>{{{cooldown|}}}s</td> }}<!--
	-->{{#if: {{{casting|}}}|<td>{{{casting|}}}s</td> }}<!--
	-->{{#if: {{{duration|}}}|<td>{{{duration|}}}s</td> }}<!--
	-->{{#if: {{{durationPVP|}}}|<td>{{{durationPVP|}}}s</td> }}<!--
	-->{{#if: {{{dotTick|}}}|<td>{{{dotTick|}}}s</td> }}<!--
	-->{{#if: {{{spellRange|}}}|<td>{{{spellRange|}}}m</td> }}<!--
	-->{{#if: {{{wallLives|}}}|<td>{{{wallLives|}}}</td> }}<!--
	-->{{#if: {{{reflectedDamagePVE|}}}|<td>{{{reflectedDamagePVE|}}}%</td> }}<!--
	-->{{#if: {{{refletectedDamagePVP|}}}|<td>{{{refletectedDamagePVP|}}}</td> }}<!--
	--></tr><!--
--></includeonly>