<includeonly><!--
--><div style="position: relative; color: #fff; display: inline-block;">[[File:stat_window.png]]
	<div style="position: absolute; left: 85px; top:16px;">{{#if: {{{str|}}} | {{{str}}} | 15}}</div>
	<div style="position: absolute; left: 85px; top:54px;">{{#if: {{{sta|}}} | {{{sta}}} | 15}}</div>
	<div style="position: absolute; left: 85px; top:92px;">{{#if: {{{dex|}}} | {{{dex}}} | 15}}</div>
	<div style="position: absolute; left: 85px; top:130px;">{{#if: {{{int|}}} | {{{int}}} | 15}}</div>
</div><!--
--></includeonly>