<includeonly><!--
-->{{Cargo Table
		|tables=items
		|fields={{#if: {{{fields|}}} | {{{fields}}} | items._pageName=name,items.icon,items.hasAbilities,
			items.minAttack,items.maxAttack,items.level,items.rarity,
			items.class,concat(1)=showRarityColumn
		}}
		{{#if: {{{additionalFields|}}} | ,{{{additionalFields}}} }}
		|where=items.category = "Weapon"
			{{#if: {{{subcategory|}}} | AND items.subcategory = "{{{subcategory}}}" }}
			{{#ifeq: {{{twoHanded|}}} | 1 | AND items.twoHanded = 1}}
			{{#ifeq: {{{twoHanded|}}} | 0 | AND items.twoHanded = 0}}
			{{#if: {{{class|}}} | AND items.class = "{{{class}}}" }}
			{{#if: {{{classes|}}} | AND items.class IN ({{{classes}}}) }}
			{{#if: {{{minLevel|}}} | AND items.level >= {{{minLevel}}} }}
			{{#if: {{{maxLevel|}}} | AND items.level <= {{{maxLevel}}} }}
			{{#if: {{{rareOnly|}}} | AND items.rarity IN  ("Unique", "Very rare", "Rare") }}
			{{#if: {{{commonOnly|}}} | AND items.rarity IN  ("Uncommon", "Common") }}
		|order by={{#if: {{{order by|}}} | {{{order by}}} | items.level, items._pageName }}
		|limit=500
		|collapsible={{{collapsible|}}}
		|header={{{header|}}}
		|headerType={{{headerType|}}}
		|tableHeaders={{#if: {{{tableHeaders|}}} | {{{tableHeaders}}} |
			<th colspan="2">Name</th>
			<th>Level</th>
			<th>Rarity</th>
			<th>Attack</th>
			<th>Class</th>
			<th>Bonus</th>
		}}
		|template=Item Table Row
	}}<!--
--></includeonly>